<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Image</th>
      <th>Available</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.location %></td>
        <td><%= item.image %></td>
        <td><%= item.available %></td>
        <% if @nested_item %>
          <td><%= link_to 'Show', user_item_path(item.user_id, item) %></td>
          <td><%= link_to 'Edit', edit_user_item_path(item.user_id, item) %></td>
          <td><%= link_to 'Destroy', user_item_path(current_user, item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_user_item_path(current_user.id) %>

